@import "../base/min";

.detail{
    background: #fff;
    padding: 12px;
    border-radius: 6px;
    .el-form-item{
        margin: 0;
        .el-form-item__label{
            font-size: 14px;
            color: #000;
        }
    }
}
