@import "../base/min";

.add-goods-box {
    width: 100%;
    .con-box .el-form {
        .el-form-item {
            width: 600px;
        }
        .el-form-item.max {
            width: 200%;
            .el-input {
                float: left;
                width: 43%;
            }
            .el-radio-group {
                float: left;
                //              height: 36px;
                line-height: 36px;
                margin-left: 10px;
            }
            &>div{
                float: left;
            }
            &>div:nth-child(2){
                width: auto;
            }
        }
        .el-select {
            float: left;
        }

        .upload-demo {
            // position: absolute;
            // top: 0;
            // left: 500px;
            float: right;
        }
        .ex-moban-down{
            // position: absolute;
            // top: 6px;
            // left: 700px;
            float: right;
            margin-left: 20px;
            margin-top: 6px
        }
        .cate-box .el-form-item {
            float: left;
            width: 30%;
            &:nth-child(2) {
                margin: 0 5%;
            }
        }
    }

    .oper-box {
        button {
            width: 66px;
            height: 36px;
        }
        button:nth-child(1) {
            margin-left: 27%;
            background: #999999;
            border: 1px solid #999999;
        }
        button:nth-child(2) {
            background: #ec6d1e;
            border: 1px solid #ec6d1e;
        }
    }
}
