@import "min";

/**
 * 一些共用的基础样式
 * 使用原则：
 * --不需要/不想起/element的组件的，样式名
 * --颜色，方便以后统一管理
 */

body,
html {
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
}
img {
    max-width: 100%;
}
h1.theme-h1 {
    font-size: 50px;
    font-weight: 300;
    color: #56667d;
}
h2.theme-h2 {
    font-size: 35px;
    font-weight: 300;
    color: #56667d;
}
p.theme-p {
    font-size: 14px;
    color: #56667d;
}

.operator-wrap {
    width: 100%;
    height: 100%;
}

/* 元素/标签 大小相关 */
.width {
    &-100 {
        width: 100%;
    }
    &-50 {
        width: 50%!important;
    }
}

/* 元素/标签 位置相关 */
.fl {
    float: left;
}
.fr {
    float: right;
}
.mc {
    margin: 0 auto;
}

/* 元素/标签 边距相关 */
.mar {
    &-top5 {
        margin-top: 5px;
    }
    &-top10 {
        margin-top: 10px;
    }
    &-top15 {
        margin-top: 15px;
    }
    &-top20 {
        margin-top: 20px;
    }
    &-left0 {
        margin-left: 0!important;
    }
    &-right15 {
        margin-right: 15px;
    }
    &-bottom0 {
        margin-bottom: 0!important;
    }
    &-bottom5 {
        margin-bottom: 5px;
    }
    &-bottom10 {
        margin-bottom: 10px;
    }
    &-bottom15 {
        margin-bottom: 15px;
    }
}
.pdd {
    &-10 {
        padding: 10px;
    }
    &-20 {
        padding: 20px;
    }
    &-top-bottom10 {
        padding: 10px 0!important !important;
    }
    &-top20 {
        padding-top: 20px;
    }
    &-left0 {
        padding-left: 0!important;
    }
    &-bottom10 {
        padding-bottom: 10px;
    }
    &-bottom20 {
        padding-bottom: 20px;
    }
}

/* 文本相关 */
.fs {
    &-s9em {
        font-size: 0.9em;
    }
    &-s5em {
        font-size: 0.5em;
    }
    &-s4em {
        font-size: 0.4em;
    }
    &-s35em {
        font-size: 0.35em;
    }
    &-1s2em {
        font-size: 1.2em;
    }
}
.fw-600 {
    font-weight: 600;
}
.lh-1s8em {
    line-height: 1.8em;
}

/* 文本/块级元素 位置 */
.tl {
    text-align: left;
}
.tr {
    text-align: right;
}
.tc {
    text-align: center;
}
.tn {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.vh {
    visibility: hidden;
}

/* 颜色相关 */
.cl-white {
    color: #fff!important;
}
.bg-white {
    background: #fff!important;
}
.cl-supernova {
    color: #FBB83C!important;
}
.bg-supernova {
    background: #FBB83C!important;
}
.cl-junebud {
    color: #B9D963!important;
}
.bg-junebud {
    background: #B9D963!important;
}
.bg-picton {
    background: #20a0ff!important;
}
.cl-dove {
    color: #747474!important;
}

.f-success {
    color: $fSuccess;
}
.f-undone {
    color: $fDanger;
}
.f-color {
    &.f-money {
        color: $fMoney;
    }
    &.f-link {
        color: $blue;
    }
    &.f-required {
        color: $fDanger;
    }
}

/* other */
.display-table {
    display: table;
    table-layout: fixed;
    & > * {
        display: table-cell;
        vertical-align: top;
    }
}

.development {
    width: 100%;
    line-height: 100px;
    text-align: center;
    color: $clColor;
}
.clear-float:after {
    display: table;
    content: "";
    clear: both;
}

.content {
    width: 100%;
    min-height: 100%;
    padding-top: $navHeight;
    background: #F3F3F3;
    box-sizing: border-box;
    .right-content {
        padding: 20px 12px 20px 177px;
        width: 100%;
        box-sizing: border-box;
    }
    &.content-icon .right-content {
        padding: 20px 30px 20px 85px;
        width: 100%;
        box-sizing: border-box;
    }
}

.el-item {
    position: relative;
    background: $bgWhite;
    border-radius: 5px;
}

.top-toolbar-complex {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    .toolbar-path {
        width: 135px;
        line-height: 35px;
        padding-left: 8px;
        &.top-breadcrumb {
            width: 300px;
            .el-breadcrumb {
                line-height: 35px;
                font-size: 15px;
            }
        }
    }
    .toolbar-function {
        .el-form-item {
            margin-bottom: 0;
            margin-right: 0;
            .el-input__icon+.el-input__inner {
                padding-right: 0;
            }
            .el-input__inner {
                height: 35px;
            }
        }
        .el-form-item:last-child {
            margin-right: 0;
        }
        .el-select .el-input__inner {
            width: 140px;
            height: 35px;
        }
        .el-button {
            height: 35px;
        }
        .function-search.el-input {
            width: 140px;
        }
    }
}

.top-toolbar-inline {
    .toolbar-from {
        width: 735px;
        float: left;
        .el-input {
            width: 130px;
        }
        .el-select {
            width: 130px;
        }
    }
    .toolbar-function {
        float: left;
        width: 220px;
        text-align: right;
    }
}

.inline-datalist {
    width: 100%;
    padding: 30px 0;
    ul {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        li {
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            box-flex: 1;
            box-sizing: border-box;
            border-left: 1px solid #DDDDDD;
            &:first-child {
                border-left: none;
            }
        }
    }
}

.editor-form {
    width: 100%;
    padding: 25px 20px;
    .form-left {
        width: 400px;
    }
    .form-right {
        padding-left: 80px;
    }
    .el-select {
        width: 100%;
    }
}

.el-table {
    .row-disabled {
        color: #c3c3c3;
    }
    .cell {
        white-space: nowrap!important;
    }
}

.el-table::after,
.el-table::before {
    z-index: 0!important;
}

.el-submenu .el-menu-item {
    min-width: 0!important;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    zoom: 1;
}
