.warehouse-list {
    .toolbar-function {
        margin-top: 58px;
    }
}
.warehouse-info {
    .el-form-item {
        margin-bottom: 0;
    }
}
.warehouse-bind {
    .toolbar-function {
        margin-top: 58px;
    }
}
