// 定义水球的宽和高
$liquidSize: 150px;

.fengliquid-wrap {
    width: 100%;
    .feng-liquid {
        position: relative;
        width: $liquidSize;
        height: $liquidSize;
        border-radius: 100%;
        margin: 0 auto;
        overflow: hidden;
        background-color: #eee;
        span {
            display: inline-block;
            width: $liquidSize;
            height: $liquidSize;
            line-height: $liquidSize;
            text-align: center;
            font-size: 3em;
            font-weight: 300;
            i {
                font-size: .5em;
            }
        }
        .fengliquid-bg {
            position: absolute;
            left: 0;
            bottom: 0;
            width: $liquidSize;
            opacity: .7;
        }
    }
}
