.report-intobox {
    .toolbar-function {
        margin-top: 128px;
    }
}
.report-income {
    .toolbar-function {
        margin-top: 12px;
    }
}
.report-sales {
    .toolbar-function {
        margin-top: 70px;
    }
}
